*{
    margin: 0;
    padding: 0;
}
.ok{
    margin-top: 30px;
    margin-left: 15%;
}
.ok h1{
    text-align: center;
}

.gif{

    height: 550px;
    width: 90%;
     /* image-rendering: crisp-edges; */
      image-rendering: pixelated;
}